<h1>lista de alumnos</h1>
<div class="parrafos">
<p> Los alunos eximidos apareceran en color verde por su calificacion exelente</p>
<p>los alunos aprobados de manera general apareceran en amarillo</p>
<p>los alumnos reprobados seran marcados en color rojo</p>
</div>

<div class="alumnos">
<ul>
  <li *ngFor="let alumno of alumnos"
  [ngClass]="{
    'failed':alumno.nota<=13,
    'succes':alumno.nota>=14 && alumno.nota <=18,
    'excused':alumno.nota>=19 && alumno.nota <=20
  }">
  {{ alumno.nombre | uppercase }} 
    -Edad: {{ alumno.edad }} 
    -Telefono: {{alumno.telefono}} 
    -Correo: {{alumno.correo}} 
    -Calificacion:{{alumno.nota}}
  </li>
</ul>
</div>